 /* { border: 1px solid red; }*/

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

p {
    margin:0;
}

a, .hero-sub {
    color: #e5e7eb;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}


h3 {
    margin: 0;
    color: #f9faf8;
}

img {
    border-radius: 20px;
}


.hero-bg, .footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 20%; 
}

.hero-bg, .footer, .info-section, .quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote-section{
    padding: 50px 30%;
    justify-content: center;
}

.quote-section{
    height: 40vh;
}

.hero-bg {
    height: 60vh;
}

.header {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}

.hero-content {
    width: 50%;
}

.hero-content p {
    margin: 16px 0;
}

.cta-button {
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    gap: 16px;
    flex-shrink: 0;
}

.card-image {
    width: 150px;
    height: auto;
    border: 2px #3882f6 solid;
}

.quote-section  {
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.cta-section, .info-section {
    padding: 50px 20%;
}

.cta-box {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 24px 36px;
    
}